<figure class="figure">
  <img
    src="../../../assets/images/card-image.png"
    style="max-width: 150px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>
<figure class="figure">
  <img
    src="../../../assets/images/card-image.png"
    style="max-width: 150px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>
<figure class="figure">
  <img
    src="../../../assets/images/card-image.png"
    style="max-width: 150px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>
<figure class="figure">
  <img
    src="../../../assets/images/card-image.png"
    style="max-width: 150px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>
<figure class="figure">
  <img
    src="../../../assets/images/card-image.png"
    style="max-width: 150px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>
<figure class="figure">
  <img
    src="../../../assets/images/card-image.png"
    style="max-width: 150px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>
