<h1>Movie Title</h1>
<div class="row">
  <div class="col-md-6">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/f6YDKF0LVWw?si=U9Gft9hk2G2nOuJc"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="col-md-6">
    <p class="lead">This is going to be a placeholder</p>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">Stars</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Start 1</li>
            <li class="list-group-item">Start 2</li>
            <li class="list-group-item">Start 3</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">Stars</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Start 1</li>
            <li class="list-group-item">Start 2</li>
            <li class="list-group-item">Start 3</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">Stars</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Start 1</li>
            <li class="list-group-item">Start 2</li>
            <li class="list-group-item">Start 3</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<br />
<div class="row">
  <h1>Actors</h1>
  <div class="col-md-12 text-center">
    <app-details-actors></app-details-actors>
  </div>
  <div class="text-center">
    <p>
      <a class="btn btn-warning">
          View all actors
      </a>
    </p>
  </div>
</div>
<hr />
<br />
<div class="row">
  <h1>Reviews</h1>
  <div class="col-md-12">
    <app-details-reviews></app-details-reviews>
  </div>
  <div class="text-center mt-2">
    <p>
      <a class="btn btn-warning">
          View all reviews
      </a>
    </p>
  </div>
</div>
<hr />
<br />
<div class="row">
  <h1>Similar Movies</h1>
  <div class="col-md-12">
    <app-details-movies></app-details-movies>
  </div>
  <div class="text-center mt-2">
    <p>
      <a class="btn btn-warning">
          View all similar movies
      </a>
    </p>
  </div>
</div>
