<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form action="">
        <legend>Lets us know what you think</legend>
        <hr />
        <div class="mb-3">
          <label for="emailaddress" class="form-label">Email Address</label>
          <input
            type="email"
            class="form-control"
            id="emailaddress"
            placeholder="Your Email"
          />
        </div>
        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Phone number</label>
          <input
            type="text"
            class="form-control"
            id="phoneNumber"
            placeholder="Your Phone Number"
          />
        </div>
        <div class="mb-3">
          <label for="rateExperience" class="form-label">Rate</label>
          <input
            type="range"
            min="0"
            max="10"
            class="form-range"
            id="rateExperience"
          />
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Your feedback title"
          />
        </div>
        <div class="mb-3">
          <label for="feedback" class="form-label">Feedback</label>
          <input
            type="text"
            class="form-control"
            id="feedback"
            placeholder="Your feedback"
          />
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">
                <i class="bi bi-send"></i> Add Feedback
            </button>
        </div>
      </form>
    </div>
  </div>
</div>
