<h1>Results for {{ movieTitle }}</h1>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cover</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
          <img src="../../../assets/images/card-image.png" width="100" alt="" />
        </td>
        <td>Movie # title</td>
        <td>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
            hi!
          </p>
        </td>
        <td>
          <a class="btn btn-warning"><i class="bi bi-film"></i>Trailer</a>
          <a class="btn btn-primary"><i class="bi bi-eye"></i>Details</a>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>
          <img src="../../../assets/images/card-image.png" width="100" alt="" />
        </td>
        <td>Movie # title</td>
        <td>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
            hi!
          </p>
        </td>
        <td>
          <a class="btn btn-warning"><i class="bi bi-film"></i>Trailer</a>
          <a class="btn btn-primary"><i class="bi bi-eye"></i>Details</a>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>
          <img src="../../../assets/images/card-image.png" width="100" alt="" />
        </td>
        <td>Movie # title</td>
        <td>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
            hi!
          </p>
        </td>
        <td>
          <a class="btn btn-warning"><i class="bi bi-film"></i>Trailer</a>
          <a class="btn btn-primary"><i class="bi bi-eye"></i>Details</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
